{% extends 'base.html' %}

{% block title %}Craigslist: Add Post{% endblock title %}

{% block header %}Add Post{% endblock header %}

{% block main-body %}

<form method='POST'>
  {% csrf_token %}
  <label for='post-name'>Post name:</label>
  <input name='post-name' placeholder='enter post name'/>
  <label for='post-detail'>Post description:</label>
  <input name='post-detail' placeholder='enter post description'/>
  <label for='post-price'>Price:</label>
  <input type='number' step='0.01' name='post-price' value = '0.00' placeholder='enter post price' required/>
  <label for='post-contact'>Your contact information:</label>
  <input type='eamil' name='post-contact' placeholder='enter post contact email'/>
  <label for='post-picture'>Select Image:</label>
  <input type ='file' name='post-picture' placeholder='enter post picture' accept='image/*'/>
  <label for='post_category'>Description</label>
  <select name='post_category'>
    {% for category in categories %}
    <option value={{category.id}}>{{category.name}}</option>
    {% endfor %}
  </select>
  <input type='hidden' name='add' value=''/>
  <button type='submit'>Add Post</button>
  <br/>
  {% if error %}
  <p>There was an error when submitting your post</p>
  {% for key, value in error.items %}
  <li>{{ key }}, {{value}}</li>
  {% endfor %}
  {% endif %}
</form>

<a href="{% url 'categories' %}"><button>Back to Categories</button></a>

{% endblock main-body %}