{% extends 'base.html' %}

{% block title %}Craigslist: {{ category.name }} {% endblock title %}

{% block header %} {{ category.name }} {% endblock header %}

{% block main-body %}

<div> {{ category.description }} </div>

<ol>
{% for post in category.posts.all|dictsort:'id' %}
<li><a href="{% url 'post-detail' category.id post.id %}">{{post.name}}</a></li>
{% endfor %}
</ol>

<a href="{% url 'add-post-cat' category.id %}"><button>Add Post</button></a>
<a href="{% url 'edit-category' category.id %}"><button>Edit Category</button></a>

{% endblock main-body %}