{% extends 'base.html' %}

{% block title %}Craigslist: {{ tyoe_of_request }} {% endblock title %}

{% block header %}  {% endblock header %}

{% block main-body %}

<h2> {{type_of_request}} Category </h2>
<form method='POST' class ='category-form'>
  {% csrf_token %}
  {{ category.as_p }}
  <button type='submit'>Save Category</button>
</form>

<form method='POST' id='delete'>
  {% csrf_token %}
  <input type='hidden' name='delete_category' value={{ category.id }} />
  <button type='submit'>Delete Category</button>
</form>

{% endblock main-body %}