{% extends 'base.html' %}
{% load static %}

{% block title %}Craigslist: {{ post.name }} {% endblock title %}

{% block header %} {{ post.name }} {% endblock header %}

{% block main-body %}

<span id = 'dates'>
  <div> Post date: {{ post.post_date}}</div>
  <div> Last Activity: {{ post.last_activity}}</div>
</span>
<div> Description: {{ post.description }} </div>
{% if post.picture %}
<div> 
  {% static 'img/{$ post.picture $}' %} 
</div>
{% endif %}
<div> Price: {{ post.price }} </div>
<div> Contact: {{ post.contact_info }} </div>

<div><a href="{% url 'category-detail' category.id%}"><button>Back to {{category.name}}</button></a></div>
<div><a href="{% url 'edit-post' category.id post.id  %}"><button>Edit Post</button></a></div>

{% endblock main-body %}